* {
    box-sizing: border-box;
    margin: 0 ;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
  position: absolute;
  margin-top: 12%;
  margin-left: 5%;
  }

.heading .hello{
  color: rgb(237, 27, 27);
  font-weight: bold;
  font-size: 25px;
}

.heading h1{
  color: white;
  font-size: 45px;
}

.heading .about{
  color: rgba(255, 255, 255, 0.826);
}

.heading button{
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 15px;
  border: transparent;
  margin-right: 1em;
  /* font-size: 15px; */
  background-image: linear-gradient(rgb(229, 7, 7), rgb(240, 95, 95));
}

.heading a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  
}

img{
  position: absolute;
  margin-left: 55%;
  width: 600px;
  margin-top: 10%;
  opacity: 0.2;
}

#particles-js {
    background: black;
    height: 80%;
}
hr{
    /* margin-left: 5%; */
    margin-top: 0.8%;
    margin-right: 5%;
    margin-left: 3%;
    height: 0.5px;
    border: solid 0.5px #e9e3e369;
  }
nav{
    
    /* margin-left: 15%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, 
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
      'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
  
  .nav a{
    position: relative;
    text-align: center;
    color: #f2f2f2;
    padding: 10% 16px;
    text-decoration: none;
    font-size: 22px;
    text-shadow: 1px 0.5px rgba(254, 255, 255, 0.37);
    font-family: 'Poppins' , sans-serif;
  }
  
  .nav a:hover{
    color: rgb(220, 57, 57);
    text-shadow: 1px 0.5px yellow;
    font-family: 'Poppins' , sans-serif;
  }
  